.long_short.cmnt_box
  %a{href: user_path(comment.user)}
    .profile_pic
      %img{src: comment.user.profile_pic.thumb}
  .cmnt_text
    %a{href: user_path(comment.user)}
      %p
        @
        = comment.user.user_name
    %p= comment.comment
  - if comment.user != current_user
    - if comment.flagged?
      .inline-icon.sprite-flagged.small
    -else
      .inline-icon.sprite-flag-small