- @recent_albums.limit(4).map do |album|
  .standard_group
    .standard_square.text_square
      = album.name
      .inner_text
        %span.badge= album.pictures.count
        %p Pictures:
        %span.badge= album.comments.count
        %p Comments:
    .tiny_group
      - teaser_pics = album.teaser_pic_generator
      .tiny_square
        %img{src: album.teaser_pic(teaser_pics, 1)}/
      .tiny_square
        %img{src: album.teaser_pic(teaser_pics, 2)}/
      .tiny_square
        %img{src: album.teaser_pic(teaser_pics, 3)}/
      .tiny_square
        %img{src: album.teaser_pic(teaser_pics, 4)}/