%p This is the main home page.

#tabs
  %ul
    %li
      %a{href: "#tabs-1"} Recent
    %li
      %a{href: "#tabs-2"} Most Popular
    %li
      %a{href: "#tabs-3"} All Time Favourites 

  #tabs-1
    %p render recent pictures
  #tabs-2
    %p render most popular pictures
  #tabs-3
    %p render all time favourites pictures
 