#tabs
  %ul
    %li
      %a{href: "#tabs-1"} Recent
    %li
      %a{href: "#tabs-2"} Most Trending
    %li
      %a{href: "#tabs-3"} All Time Favourites 

  #tabs-1
    .square_viewport
      - @recent_albums.shuffle.map do |album|
        = render album
  #tabs-2
    .square_viewport
      Trending
  #tabs-3
    .square_viewport
      - @popular_albums.shuffle.map do |album|
        = render album
 