%h1 
  About us

%p 
  We are three Web Development Immersive students, all with different backgrounds, but the same goal: Becoming proficient in coding. Immige is our second project, after only 8 weeks of intense training and learning. We are looking forward to see some great albums and pictures and receive valuable feedback about our work.

%p 
  Enjoy!

