.square_viewport
  .standard_group
    .standard_square
      %h3 My Album
    .tiny_group
      .tiny_square
      .tiny_square
      .tiny_square
      .tiny_square
    .standard_square
    .standard_square
  .large_square
  .standard_group
    .standard_square
    .standard_square
    .standard_square
    .standard_square
  .large_square
  .standard_group
    .standard_square
    .standard_square


%br
= link_to('New Album', new_album_path)
%ul
  - @albums.each do |album|
    %li
      .album
        = link_to(album.name, album_path(album), class: "album-name")
        