- if @pictures.any?
  var picturesHtml = ("#{escape_javascript(render @pictures)}");
- else
  picturesHtml = 'Currently no tags have this name - specify your search.';

$("#pictures").html(picturesHtml);

