
#map_canvas {
  display: inline-block;
  width: 310px;
  height: 310px;
  background-color: rgba($primary, 0.05);
  float: left;
  margin-right: 5px;
}

.password_forgot {
  font-size: 11px;
}

#show_email_signin {
  margin: 0;
  padding: 0;
  border: none;
  background-color: $secondary;
  outline: 0;
}

#email_signin_box  {
  display: none;
  text-align: center;
}

#signin_options {
  margin: 0;
}

.tooltip {
  font-size: 11px !important;
  padding: 5px !important;
}

.has-tip {
  cursor: auto !important;
  .button {
    font-weight: normal;
  }
}

.button {
  margin-bottom: 10px !important;
}

@media (min-width: 666px) {
  #account_settings {
    min-height: 364px;
  }
}