.notice {
  text-align: center;
  font-size: 11px;
}

.alert {
  text-align: center;
  font-size: 11px;
}

.off-canvas-list {
  li {
    line-height: 1;
    font-size: 13px;
  }
  .no-padding {
    padding: 0 !important;
  }
}

.tab_profile_pic {
  height: 35px;
  width: 35px;
  float: right;
  margin-top: 5px;
  img {
    vertical-align: initial;
  }
}

.tabs {
  display: inline-block;
  line-height: 1;
  font-weight: 600;
  .active a {
    color: $mint;
  }
}

.tabs-content {
  margin-top: 50px;
}


#map_canvas {
  display: inline-block;
  width: 310px;
  height: 310px;
  background-color: rgba($primary, 0.05);
  float: left;
  margin: 3px;
}

#updatemessage {
  display: none;
  width: 230px;
  height: 2rem;
  background: url('/assets/ajax-loader.gif') 5px 5px no-repeat;
  margin: 0 auto;
}

#updatetext {
  display: none;
  text-align: center;
  font-weight: bold;
}

.password_forgot {
  font-size: 11px;
}

#show_email_signin {
  margin: 0;
  padding: 0;
  border: none;
  background-color: $secondary;
  outline: 0;
}

#email_signin_box  {
  display: none;
  text-align: center;
}

#signin_options {
  margin: 0;
}

.tooltip {
  font-size: 11px !important;
  padding: 5px !important;
}

.has-tip {
  cursor: auto !important;
  font-weight: normal !important;
}

.actions .has-tip {
  color: white !important;
}

.button {
  margin-bottom: 10px !important;
}

.square_viewport {
  table {
    margin: 35px auto 35px auto;
    .button {
      padding: 3px 7px;
      font-size: 10px;
      margin-bottom: 0 !important;
      background-color: rgba(240,65,36,0.5);
    }
    th {
      text-align: center;
    }
  }
}

@media (min-width: 666px) {
  #account_settings {
    min-height: 350px;
  }
  #user_profile_settings {
    min-height: 350px;
  }
}

table {
  form {
    display: inline-block;
  }
}

#more_info_slider {
  display: none;
  p {
    color: $primary;
    text-align: center;
    margin: 10px 0 5px 0;
  }
  .text_square p {
    color: $secondary;
  }
}

#edit_picture_display {
  text-align: center;
  margin-bottom: 15px;
}

#contact_details {
  text-align: center;
  address {
    margin-top: 10px;
    font-size: 90%;
  }
}