.main-section {
  background-color: $secondary;
  min-height: 700px;
}

.profile_pic {
  opacity: 0.75;
}
.profile_pic:hover {
  opacity: 1;
}

.float-left {
  float: left;
}

.square_viewport {
  text-align: center;
  h2 {
    color: $mint;
  }
  h3 {
    color: $mint;
    font-size: 18px;
    height: 75px;
    overflow: hidden;
  }
  h4 {
    color: $primary;
    font-size: 14px;
    margin: 0;
  }
  p {
    color: $secondary;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 10px;
  }
}

.text_square {
  padding: 10px;
  border-bottom: 8px solid $mint;
  position: relative;
  .inner_text {
    position: absolute;
    bottom: 0;
    width: 130px;
    .badge {
      position: absolute;
      right: 0;
    }
  }
}

.tiny_square {
  height: 73px;
  width: 71px;
  background-color: $primary;
  display: inline-block;
  margin: 1px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.tiny_group {
  height: 150px;
  width: 150px;
  display: inline-block;
  margin: 3px;
  overflow: hidden;
}

.standard_square {
  height: 150px;
  width: 150px;
  background-color: $primary;
  display: inline-block;
  margin: 3px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.standard_group {
  width: 316px;
  vertical-align: top;
  display: inline-block;
  text-align: left;
}

.large_square {
  height: 309px;
  width: 310px;
  background-color: $primary;
  display: inline-block;
  margin: 3px;
  overflow: hidden;
  text-align: left;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  h3 {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: initial;
    span {
      padding: 5px 10px;
      background-color: rgba($primary, 0.75);
      line-height: 1.75
      }
    span:last-child {
      padding-top: 0;
      }
    small {
      color: white;
    }
  }
  p {
    line-height: 1.2;
    width: 200px;
    font-size: 14px;
  }
  .like_button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.long_short {
  min-height: 30px;
  width: 310px;
  background-color: rgba($primary, 0.1);
  display: inline-block;
  margin: 3px;
  text-align: left;
  padding: 10px;
  textarea {
    border: none;
    font-size: 11px;
  }
  textarea[rows] {
    height: 60px;
  }
  &.text_square {
    background-color: $primary;
    h3 {
      font-size: 18px;
      height: initial;
      text-align: center;
    }
  }
}

.cmnt_box {
  .profile_pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $primary;
    float: left;
    img {
      border-radius: 50%;
    }
  }
  .inline-icon {
    float: left;
    clear: left;
    margin: 5px 0 0 5px;
  }
  .cmnt_text {
    width: 240px;
    float: right;
    p {
      vertical-align: top;
      color: $primary;
      margin: 0;
    }
    p:first-child {
      font-weight: bold;
      margin-bottom: 10px;
      padding-bottom: 3px;
      color: $dark;
      border-bottom: 1px solid $primary;
    }
  }
}

.tag_list {
  text-align: center;
  .tag {
    background-color: rgba($primary, 0.75);
    padding: 2px 6px;
    color: $secondary;
    font-size: 11px;
    font-weight: 200;
    border-radius: 3px;
    line-height: 1.75;
    &:hover {
      background-color: rgba($primary, 0.5);
    }
  }
}

.inline-icon {
  height: 30px;
  width: 30px;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  line-height: 0.75;
  color: $primary;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: $secondary;
  border-radius: 10px;
  float: right;
}
.badge:empty {
  display: none;
}

.aside {
  text-align: center;
  opacity: 0.25;
  transition: opacity .5s;
  h3 {
    color: $primary;
    height: initial;
    font-size: 14px;
  }
  &:hover {
    opacity: 1;
  }
}

.side_scroll_pics {
  display: inline-flex;
  overflow-x: scroll;
  a {
    flex-shrink: 0;
  }
  .standard_square {
    height: 100px;
    width: 100px;
  }
}
