// Styles related to the picture controller in here:

#tag_cloud {
  width: 400px;
  line-height: 1.6 em;
  color: red;
  .s { font-size: 0.8 em; }
  .m { font-size: 1.2 em; }
  .l { font-size: 1.8 em; }
}